
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00008b;
  background-color:  #F8F0E3;
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 50%;
}
.row {
  display: flex;
  flex: 1;
}
.letter_input {
  -webkit-appearance: none;
  width: 100%;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  border: solid #00008b 1px;
  font-weight: bold;
  font-size: 3em;
  background-color:  #ADD8E6;
  border-radius: 5px;
  color: #00008b;
  margin: 2px;
  text-transform: uppercase;
}
#instructions{
  border: black 1px solid; 
  width: 40%;
}
.locked{
  pointer-events: none;
}
.right {
  background-color: #ade5d5;
}
.right-letter {
  background-color: #e5b9ad;
}
.score-card{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  position: absolute;
  background-color: #E3EBF8;
  z-index: 1;
  width: 40%;
  height: 40vh;
  border-radius: 10px;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#startBtn {
  margin: 20px;
  padding: 20px;
  background-color: #E3EBF8;
  color: #00008b;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#gameContainer {
  display: none;
}
.letter {
  max-width: 50px;
  padding: 25px;
  border: solid black 1px;
  border-radius: 5px;
}
.letterCorrect {
  background-color: #ade5d5
}
.letterWrong {
  background-color: #8B837E
}

@media only screen and (max-width: 600px) {
  #containingDiv{
    flex-direction: column;
    width: 100%;
  }
  #instructions{
    width: 100%;
    text-align: center;
  }
  #gameContainer{
    width: 100%;
  }
  .score-card{
    width: 100%;
  }
}